

.skill-section{
    margin-top: 100px;
        h2{
            font-size: 3rem;
            color: $color;
            text-align: center;
            padding-top: 50px;
            
        }
    
.skill-box {
    position: relative;
    z-index: 1;
    .icon {
      padding-left: 10px;
      font-size: 30px;
    }
    .info {
      margin-block: 10px;
      span {
        font-family: pop-ins-md;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }
    @keyframes skillLine {
      100% {
        transform: scaleX(1);
      }
    }
    .skill-line {
      width: 100%;
      height: 5px;
      background-color: #9999995d;
      border-radius: 10px;
      position: relative;
      span {
        position: absolute;
        height: 5px;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
      }
      .line {
        animation: skillLine 2s linear forwards;
      }
      .hide-line {
        transform: scaleX(0);
      }
    }
    .html {
      span {
        width: 90%;
        background-color: #c95d2e;
        &::after {
          content: "90%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #fff;
        }
      }
    }
    .css {
      span {
        width: 90%;
        background-color: #147bbc;
        &::after {
          content: "90%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #ffff;
        }
      }
    }
    .js {
      span {
        width: 70%;
        background-color: #f0db4f;
        &::after {
          content: "70%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #fff;
        }
      }
    }
    .sass {
      span {
        width: 86%;
        background-color: #cc6699;
        &::after {
          content: "86%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #ffff;
        }
      }
    }
    .boot {
      span {
        width: 88%;
        background-color: #563d7c;
        &::after {
          content: "88%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #ffff;
        }
      }
    }
    .jq {
      span {
        width: 70%;
        background-color: #0769ad;
        &::after {
          content: "70%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #fff;
        }
      }
    }
    .react {
      span {
        width: 68%;
        background-color: #61dbfb;
        &::after {
          content: "68%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #fff;
        }
      }
    }
    .tailwind {
      span {
        width: 98%;
        background-color: #61dbfb;
        &::after {
          content: "98%";
          position: absolute;
          right: 2px;
          top: -25px;
          color: #ffff;
        }
      }
    }
  }
}